In [1]:
#!pip install selenium

Collecting selenium
  Downloading selenium-4.23.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\sushi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.26.1-py3-none-any.whl.metadata (8.6 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sushi\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\sushi\anaconda3\lib\site-packages (from selenium) (4.9.0)
Collecting websocket-client~=1.8 (from selenium)
  Downloading websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Downloading attrs-24.2.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: sortedcontainers in c:\users\sushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sushi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sushi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.23.1-py3-none-any.whl (9.4 MB)
   ---------------------------------------- 0.0/9.4 MB ? eta -:--:--
   - -------------------------------------- 0.4/9.4 MB 8.1 MB/s eta 0:00:02
   ---- ----------------------------------- 1.0/9.4 MB 10.2 MB/s eta 0:00:01
   ------ --------------------------------- 1.5/9.4 MB 12.1 MB/s eta 0:00:01
   -------- ------------------------------- 2.1/9.4 MB 11.3 MB/s eta 0:00:01
   ------------ --------------------------- 2.8/9.4 MB 12.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.6/9.4 MB 13.5 MB/s eta 0:00:01
   ------------------ --------------------- 4.4/9.4 MB 13.4 MB/s eta 0:00:01
   --------------------- ------------------ 5.1/9.4 MB 13.5 MB/s eta 0:00:01
   ------------------------ --------------- 5.8/9.4 MB 13.8 MB/s eta 0:00:01
   --------------------------- ------------ 6.6/9.4 MB 14.5 MB/s eta 0:00:01
   ------------------------------- -------- 7.4/9.4 MB 14.3 MB/s eta 0:00:01
   ---------------------------------- ----- 8.1/9.4 MB 14.4 MB/s eta 0:00:01
   ------------------------------------- -- 8.9/9.4 MB 15.0 MB/s eta 0:00:01
   ---------------------------------------  9.4/9.4 MB 14.7 MB/s eta 0:00:01
   ---------------------------------------- 9.4/9.4 MB 13.7 MB/s eta 0:00:00
Downloading trio-0.26.1-py3-none-any.whl (475 kB)
   ---------------------------------------- 0.0/475.7 kB ? eta -:--:--
   --------------------------------------- 475.7/475.7 kB 31.0 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.8 kB ? eta -:--:--
   ---------------------------------------- 58.8/58.8 kB 3.0 MB/s eta 0:00:00
Downloading attrs-24.2.0-py3-none-any.whl (63 kB)
   ---------------------------------------- 0.0/63.0 kB ? eta -:--:--
   ---------------------------------------- 63.0/63.0 kB ? eta 0:00:00
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: websocket-client, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: websocket-client
    Found existing installation: websocket-client 0.58.0
    Uninstalling websocket-client-0.58.0:
      Successfully uninstalled websocket-client-0.58.0
  Attempting uninstall: attrs
    Found existing installation: attrs 23.1.0
    Uninstalling attrs-23.1.0:
      Successfully uninstalled attrs-23.1.0
Successfully installed attrs-24.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.23.1 trio-0.26.1 trio-websocket-0.11.1 websocket-client-1.8.0 wsproto-1.2.0

In [2]:
from selenium import webdriver

In [4]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

In [14]:
#option = Options()

In [7]:
chrome_service = Service(executable_path= 'chromedriver.exe')

In [19]:
chrome = webdriver.Chrome(service=chrome_service)

In [29]:
#chrome.get('https://www.medifind.com/specialty/primary-care/CA/ON/Toronto?page=1')

In [22]:
#chrome.get('https://olympics.com/en/paris-2024/medals?AnonymousID=6b3a60c7-2425-4291-8ffa-a8de18b67621&displayAsWebViewdark=true&displayAsWebView=true')

In [38]:
chrome.get('https://www.nasmm.org/find-a-move-manager/list/?state=pa&country=us')

In [25]:
from selenium.webdriver.common.by import By

In [99]:
element = chrome.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "col-md-4", " " ))]')

In [100]:
element[4].text.split('\n')

['Connie Corl',
 'Rose Mwangi',
 'State College, PA 16801',
 '',
 'Phone: 814-954-2821']

In [60]:
name = []
for i in range(0,len(element)):
    name.append(element[i].text.split('\n')[0])

In [61]:
import pandas as pd

In [62]:
df = pd.DataFrame(name, columns=['Name'])

In [63]:
df

                          Name
0                   Jill Yesko
1          Jill Kearney, SMM-C
2                  Karen Fretz
3             Ron Shuma, SMM-C
4                  Connie Corl
5   Charlotte Schutzman, SMM-C
6               Erin Covolesky
7           Mary Ann Kleschick
8             Justin Showalter
9               Jared Willmann
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [70]:
element[0].text.split('Phone:')[1].replace(' ','')

'412-344-3450'

In [81]:
phone = []
for i in range(0,len(element)):
    try:
        phone.append(element[i].text.split('Phone:')[1].replace('\nAlternative ','').replace(' ','').replace('-',''))
    except:
        phone.append('')

In [82]:
phone

['4123443450',
 '6102950036',
 '2156605052',
 '6462835575',
 '8149542821',
 '6106682289',
 '4845745672',
 '2156202444',
 '7173358080',
 '8565737840',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [85]:
x = chrome.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "col-md-5", " " ))]')

In [90]:
x[0].text.split('\n')[1].replace('Email: ','')

'jill@discoverorganizing.com'

In [93]:
email = []
for i in range(0,len(element)):
    try:
        email.append(x[i].text.split('\n')[1].replace('Email: ',''))
    except:
        email.append('')

In [94]:
email

['jill@discoverorganizing.com',
 'info@specialtymovesbydesign.com',
 'Karenfretz@athoughtfultransition.com',
 'organize@aplusorganizing.com',
 'Conniec@adulttransitionalcare.com',
 'Charlotte@AllMovingMatters.com',
 'erin@amploorganizing.com',
 'maryann@arrivemovemanagers.com',
 'liz@beyondtheforkintheroad.com',
 'info@byronhome.com',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [95]:
df['Phone'] = phone

In [96]:
df['Email'] = email

In [97]:
df

,Name,Phone,Email
0,Jill Yesko,4123443450,jill@discoverorganizing.com
1,"Jill Kearney, SMM-C",6102950036,info@specialtymovesbydesign.com
2,Karen Fretz,2156605052,Karenfretz@athoughtfultransition.com
3,"Ron Shuma, SMM-C",6462835575,organize@aplusorganizing.com
4,Connie Corl,8149542821,Conniec@adulttransitionalcare.com
5,"Charlotte Schutzman, SMM-C",6106682289,Charlotte@AllMovingMatters.com
6,Erin Covolesky,4845745672,erin@amploorganizing.com
7,Mary Ann Kleschick,2156202444,maryann@arrivemovemanagers.com
8,Justin Showalter,7173358080,liz@beyondtheforkintheroad.com
9,Jared Willmann,8565737840,info@byronhome.com
10,,,
11,,,
12,,,
13,,,
14,,,
15,,,
16,,,
17,,,
18,,,
19,,,
20,,,
21,,,
22,,,
23,,,
24,,,
25,,,
26,,,
27,,,

In [109]:
address = []
for i in range(0,len(element)):
    try:
        address.append(element[i].text.split('\n')[1])
    except:
        address.append('')

In [111]:
element[4].text.split('\n')[1]

'Rose Mwangi'

In [110]:
address

['Bridgeville, PA 15017',
 'Allentown, PA 18103',
 'Souderton, PA 18964',
 'Pittsburgh, PA 15217',
 'Rose Mwangi',
 'Gladwyne, PA 19035',
 'Gilbertsville, PA 19525',
 'Marcus Timmons',
 'Denver, PA 17517',
 'Haddon Heights, NJ 08035',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [120]:
x[5].text.split('\n')[0].replace('Service Area: ','')

'Greater Philadelphia Community Including Montgomery, Delaware, Philadelphia and Chester Counties. Also serving the greater Wilmington, Delaware community.'

In [118]:
sArea = []
for i in range(0,len(element)):
    try:
        sArea.append(x[i].text.split('\n')[0].replace('Service Area: ',''))
    except:
        sArea.append('')

In [121]:
df['Service Area']= sArea

In [122]:
df

,Name,Phone,Email,Service Area
0,Jill Yesko,4123443450,jill@discoverorganizing.com,Greater Pittsburgh Metro Area
1,"Jill Kearney, SMM-C",6102950036,info@specialtymovesbydesign.com,"Eastern PA, Lehigh Valley (Allentown, Bethlehe..."
2,Karen Fretz,2156605052,Karenfretz@athoughtfultransition.com,"Pennsylvania - Montgomery County, Bucks County..."
3,"Ron Shuma, SMM-C",6462835575,organize@aplusorganizing.com,"Pittsburgh, PA, Allegheny County and surroundi..."
4,Connie Corl,8149542821,Conniec@adulttransitionalcare.com,"Centre, Blair & Huntingdon counties, PA"
5,"Charlotte Schutzman, SMM-C",6106682289,Charlotte@AllMovingMatters.com,Greater Philadelphia Community Including Montg...
6,Erin Covolesky,4845745672,erin@amploorganizing.com,"Greater Philadelphia, PA Area"
7,Mary Ann Kleschick,2156202444,maryann@arrivemovemanagers.com,Philadelphia and surrounding areas
8,Justin Showalter,7173358080,liz@beyondtheforkintheroad.com,"Central Pennsylvania: Adams, Berks,Cumberland,..."
9,Jared Willmann,8565737840,info@byronhome.com,Southern and Central New Jersey
10,,,,
11,,,,
12,,,,
13,,,,
14,,,,
15,,,,
16,,,,
17,,,,
18,,,,
19,,,,
20,,,,
21,,,,
22,,,,
23,,,,
24,,,,
25,,,,
26,,,,
27,,,,

In [124]:
nextPage = chrome.find_element(By.XPATH,'//*[@id="smmContainer"]/div[2]/a[6]')

In [127]:
nextPage.click()

In [131]:
name1 = []
for i in range(0,len(element)):
    name1.append(element[i].text.split('\n')[0])

In [132]:
name1

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Bridget Donnelly, SMM-C',
 'Therese Miller',
 'Annie Kilbride',
 'Catherine Cristofalo',
 'Paul Regan',
 'Stacy Matticoli, SMM-C',
 'Amanda McDermott',
 'Lisa Hasson',
 'Marlene Stocks',
 'Elizabeth Stahl',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [133]:
while '' in name1:
    name1.remove('')

In [134]:
name1

['Bridget Donnelly, SMM-C',
 'Therese Miller',
 'Annie Kilbride',
 'Catherine Cristofalo',
 'Paul Regan',
 'Stacy Matticoli, SMM-C',
 'Amanda McDermott',
 'Lisa Hasson',
 'Marlene Stocks',
 'Elizabeth Stahl']

In [149]:
name_new = []
name_new1 = []
name_new2 = []

for i in range(0,3):
    if i==0:
        chrome_service = Service(executable_path= 'chromedriver.exe')
        chrome = webdriver.Chrome(service=chrome_service)
        chrome.get('https://www.nasmm.org/find-a-move-manager/list/?state=pa&country=us')
        element = chrome.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "col-md-4", " " ))]')
        for i in range(0,len(element)):
            name_new.append(element[i].text.split('\n')[0])
        while '' in name_new:
            name_new.remove('')
    elif i==1:
        chrome_service = Service(executable_path= 'chromedriver.exe')
        chrome = webdriver.Chrome(service=chrome_service)
        chrome.get('https://www.nasmm.org/find-a-move-manager/list/?state=pa&country=us')
        element = chrome.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "col-md-4", " " ))]')
        nextPage = chrome.find_element(By.XPATH,'//*[@id="smmContainer"]/div[2]/a[6]')
        nextPage.click()
        for i in range(0,len(element)):
            name_new1.append(element[i].text.split('\n')[0])
        while '' in name_new1:
            name_new1.remove('')
    elif i==2:
        chrome_service = Service(executable_path= 'chromedriver.exe')
        chrome = webdriver.Chrome(service=chrome_service)
        chrome.get('https://www.nasmm.org/find-a-move-manager/list/?state=pa&country=us')
        element = chrome.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "col-md-4", " " ))]')
        nextPage = chrome.find_element(By.XPATH,'//*[@id="smmContainer"]/div[2]/a[6]')
        nextPage.click()
        for i in range(0,len(element)):
            name_new2.append(element[i].text.split('\n')[0])
        while '' in name_new1:
            name_new2.remove('')

In [150]:
name_new2

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Bridget Donnelly, SMM-C',
 'Therese Miller',
 'Annie Kilbride',
 'Catherine Cristofalo',
 'Paul Regan',
 'Stacy Matticoli, SMM-C',
 'Amanda McDermott',
 'Lisa Hasson',
 'Marlene Stocks',
 'Elizabeth Stahl',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']